In [1]:
import re, json, pandas as pd, numpy as np
from pathlib import Path
from datetime import datetime, timedelta
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import mean_squared_error

In [4]:
ROOT_DIR   = Path.cwd().parent          #  .../root/
DATA_DIR   = ROOT_DIR / "data" / "test data"   #  .../root/data/test_data/

USERS_CSV  = DATA_DIR / "ten_users_gpt-4o.csv"
MEALS_CSV  = DATA_DIR / "test_meal_logs.csv"

print("Users CSV :", USERS_CSV)
print("Meals CSV :", MEALS_CSV)

users_df = pd.read_csv(USERS_CSV)
logs_df  = pd.read_csv(MEALS_CSV)
logs_df["timestamp"] = pd.to_datetime(logs_df["timestamp"])

print(f"Loaded  users: {len(users_df)}   meal rows: {len(logs_df)}")

Users CSV : /home/artemis/project/hobbes_meal_rec/data/test data/ten_users_gpt-4o.csv
Meals CSV : /home/artemis/project/hobbes_meal_rec/data/test data/test_meal_logs.csv
Loaded  users: 10   meal rows: 264

In [5]:
sbert = SentenceTransformer("all-MiniLM-L6-v2")

def make_history_summary(user_id):
    recent = logs_df[logs_df.user_id==user_id].copy()
    recent = recent[recent.timestamp >= datetime.now()-timedelta(days=7)]
    # flavour vector
    emb = sbert.encode(recent["meal_name"].tolist() or [""],
                       normalize_embeddings=True).mean(axis=0)
    # 7â€‘day macro avg
    daily = recent.groupby(recent.timestamp.dt.date)[["kcal","protein_g","carbs_g","fat_g"]].sum()
    macros = daily.mean().to_dict() if not daily.empty else \
             {"kcal":0,"protein_g":0,"carbs_g":0,"fat_g":0}
    return {"flavor_vec": emb, "macro_7d": macros}

def macro_score_target(plan_df, targets):
    tot = plan_df[["kcal","protein_g","carbs_g","fat_g"]].sum().values
    targ= np.array([targets["optimal_calories"],
                    targets["protein_g"],
                    targets["carbs_g"],
                    targets["fat_g"]])
    rmse = np.sqrt(mean_squared_error(targ, tot))
    return max(0, 1 - rmse / targ[0])

def taste_score(plan_titles, flavor_vec):
    vec = sbert.encode(plan_titles, normalize_embeddings=True)
    return cosine_similarity([vec],[flavor_vec])[0,0]

def day_score(plan_df, flavor_vec, targets,
              beta_macro=0.6, beta_taste=0.4):
    macro = macro_score_target(plan_df, targets)
    taste = taste_score(" ".join(plan_df.title), flavor_vec)
    return beta_macro*macro + beta_taste*taste, macro, taste

/home/artemis/anaconda3/envs/hobbes/lib/python3.10/site-packages/torch/cuda/__init__.py:174: UserWarning: CUDA initialization: CUDA unknown error - this may be due to an incorrectly set up environment, e.g. changing env variable CUDA_VISIBLE_DEVICES after program start. Setting the available devices to be zero. (Triggered internally at /pytorch/c10/cuda/CUDAFunctions.cpp:109.)
  return torch._C._cuda_getDeviceCount() > 0

In [6]:
def parse_generated_meals(row):
    json_blob = re.search(r"\{.*\}", row["raw_output"], re.S).group()
    data = json.loads(json_blob)
    meals = []
    for m in data["meals"]:
        meals.append({
            "meal_slot": m["label"],
            "title":     m["name"],
            "kcal":      m["macros"]["calories"],
            "protein_g": m["macros"]["protein_g"],
            "carbs_g":   m["macros"]["carbs_g"],
            "fat_g":     m["macros"]["fat_g"],
        })
    return pd.DataFrame(meals)

gen_plans = {row.user_id: parse_generated_meals(row)
             for _, row in users_df.iterrows()}
print("Parsed GPTâ€‘4o plans for", len(gen_plans), "users.")

Parsed GPTâ€‘4o plans for 10 users.

In [8]:
from datetime import datetime, timedelta
from IPython.display import display, HTML

rows = []
LOOKBACK_DAYS = 7
cutoff        = datetime.now() - timedelta(days=LOOKBACK_DAYS)

for _, u in users_df.iterrows():
    uid = u.user_id
    hist = make_history_summary(uid)
    plan_df = gen_plans[uid]

    targets = {"optimal_calories": u.optimal_calories,
               "protein_g": u.protein_g,
               "carbs_g":   u.carbs_g,
               "fat_g":     u.fat_g}

    score, macro, taste = day_score(plan_df, hist["flavor_vec"], targets)

    rows.append({"user_id": uid,
                 "day_score": round(score,3),
                 "macro": round(macro,3),
                 "taste": round(taste,3)})

    # ---------- display block ----------
    print(f"\n=== User {uid}  â€¢  day_score {score:.3f} "
          f"(macro {macro:.3f} Â· taste {taste:.3f}) ===")

    # 7â€‘day history
    recent_df = (logs_df[(logs_df.user_id==uid) & (logs_df.timestamp>=cutoff)]
                 .sort_values("timestamp")
                 .loc[:, ["timestamp","meal_slot","meal_name","kcal","protein_g"]])
    print("ðŸ‘£  Last 7Â days")
    display(recent_df)

    # plan under evaluation
    print("ðŸ“‹  GPTâ€‘4o plan")
    display(plan_df[["meal_slot","title","kcal","protein_g"]])

score_df = pd.DataFrame(rows)

=== User 1  â€¢  day_score 0.778 (macro 0.998 Â· taste 0.447) ===
ðŸ‘£  Last 7Â days

             timestamp  meal_slot             meal_name  kcal  protein_g
5  2025-04-28 21:00:00      Lunch          Fish & Chips  1100       40.0
6  2025-04-29 03:00:00     Dinner          Fish & Chips  1100       40.0
7  2025-04-29 16:00:00  Breakfast         Club Sandwich   838       35.0
8  2025-04-29 21:00:00      Lunch          Fish & Chips  1100       40.0
9  2025-04-30 03:00:00     Dinner    Milkshake (250â€¯ml)   525       12.5
10 2025-04-30 16:00:00  Breakfast          Fish & Chips  1100       40.0
11 2025-04-30 21:00:00      Lunch         Club Sandwich   838       35.0
12 2025-05-01 03:00:00     Dinner          Fish & Chips  1100       40.0
13 2025-05-01 16:00:00  Breakfast    Milkshake (250â€¯ml)   525       12.5
14 2025-05-01 21:00:00      Lunch          Fish & Chips  1100       40.0
15 2025-05-02 03:00:00     Dinner  Taco Plate (3â€¯tacos)  1000       35.0
16 2025-05-02 16:00:00  Breakfast          Fish & Chips  1100       40.0
17 2025-05-02 21:00:00      Lunch          Fish & Chips  1100       40.0
18 2025-05-03 00:00:00      Snack     Fried Rice w/ Egg   938       25.0
19 2025-05-03 03:00:00     Dinner         Club Sandwich   838       35.0
20 2025-05-03 16:00:00  Breakfast    Milkshake (250â€¯ml)   525       12.5
21 2025-05-03 21:00:00      Lunch  Taco Plate (3â€¯tacos)  1000       35.0
22 2025-05-04 03:00:00     Dinner    Milkshake (250â€¯ml)   525       12.5

ðŸ“‹  GPTâ€‘4o plan

       meal_slot                               title  kcal  protein_g
0      Breakfast    Tofu Scramble with Avocado Toast   620         30
1          Lunch               Chickpea Quinoa Salad   860         40
2  Evening Snack  Greek Yogurt with Berries and Nuts   250         20
3         Dinner       Lentil and Vegetable Stir-fry   740         95

=== User 2  â€¢  day_score 0.815 (macro 0.993 Â· taste 0.548) ===
ðŸ‘£  Last 7Â days

             timestamp  meal_slot             meal_name  kcal  protein_g
28 2025-04-28 21:00:00      Lunch     Fried Rice w/ Egg   938       25.0
29 2025-04-29 00:00:00      Snack         Club Sandwich   838       35.0
30 2025-04-29 03:00:00     Dinner     Fried Rice w/ Egg   938       25.0
31 2025-04-29 16:00:00  Breakfast    Milkshake (250â€¯ml)   525       12.5
32 2025-04-29 21:00:00      Lunch         Club Sandwich   838       35.0
33 2025-04-30 00:00:00      Snack    Milkshake (250â€¯ml)   525       12.5
34 2025-04-30 03:00:00     Dinner          Fish & Chips  1100       40.0
35 2025-04-30 16:00:00  Breakfast  Taco Plate (3â€¯tacos)  1000       35.0
36 2025-04-30 21:00:00      Lunch     Fried Rice w/ Egg   938       25.0
37 2025-05-01 00:00:00      Snack  Taco Plate (3â€¯tacos)  1000       35.0
38 2025-05-01 03:00:00     Dinner     Fried Rice w/ Egg   938       25.0
39 2025-05-01 16:00:00  Breakfast  Taco Plate (3â€¯tacos)  1000       35.0
40 2025-05-01 21:00:00      Lunch     Fried Rice w/ Egg   938       25.0
41 2025-05-02 00:00:00      Snack          Fish & Chips  1100       40.0
42 2025-05-02 03:00:00     Dinner    Milkshake (250â€¯ml)   525       12.5
43 2025-05-02 16:00:00  Breakfast    Milkshake (250â€¯ml)   525       12.5
44 2025-05-02 21:00:00      Lunch          Fish & Chips  1100       40.0
45 2025-05-03 00:00:00      Snack  Taco Plate (3â€¯tacos)  1000       35.0
46 2025-05-03 03:00:00     Dinner         Club Sandwich   838       35.0
47 2025-05-03 16:00:00  Breakfast         Club Sandwich   838       35.0
48 2025-05-03 21:00:00      Lunch  Taco Plate (3â€¯tacos)  1000       35.0
49 2025-05-04 00:00:00      Snack          Fish & Chips  1100       40.0
50 2025-05-04 03:00:00     Dinner         Club Sandwich   838       35.0

ðŸ“‹  GPTâ€‘4o plan

       meal_slot                           title  kcal  protein_g
0      Breakfast            Greek Yogurt Parfait   520         30
1          Lunch           Grilled Chicken Salad   730         60
2  Evening Snack         Apple and Almond Butter   200          4
3         Dinner  Quinoa and Black Bean Stir-Fry   626         62

=== User 3  â€¢  day_score 0.787 (macro 0.996 Â· taste 0.474) ===
ðŸ‘£  Last 7Â days

             timestamp  meal_slot             meal_name  kcal  protein_g
56 2025-04-28 21:00:00      Lunch  Taco Plate (3â€¯tacos)   600       21.0
57 2025-04-29 03:00:00     Dinner          Fish & Chips   660       24.0
58 2025-04-29 16:00:00  Breakfast     Fried Rice w/ Egg   562       15.0
59 2025-04-29 21:00:00      Lunch     Fried Rice w/ Egg   562       15.0
60 2025-04-30 00:00:00      Snack          Fish & Chips   660       24.0
61 2025-04-30 03:00:00     Dinner          Fish & Chips   660       24.0
62 2025-04-30 16:00:00  Breakfast    Milkshake (250â€¯ml)   315        7.5
63 2025-04-30 21:00:00      Lunch    Milkshake (250â€¯ml)   315        7.5
64 2025-05-01 00:00:00      Snack     Fried Rice w/ Egg   562       15.0
65 2025-05-01 03:00:00     Dinner  Taco Plate (3â€¯tacos)   600       21.0
66 2025-05-01 16:00:00  Breakfast     Fried Rice w/ Egg   562       15.0
67 2025-05-01 21:00:00      Lunch     Fried Rice w/ Egg   562       15.0
68 2025-05-02 00:00:00      Snack         Club Sandwich   502       21.0
69 2025-05-02 03:00:00     Dinner  Taco Plate (3â€¯tacos)   600       21.0
70 2025-05-02 16:00:00  Breakfast          Fish & Chips   660       24.0
71 2025-05-02 21:00:00      Lunch  Taco Plate (3â€¯tacos)   600       21.0
72 2025-05-03 00:00:00      Snack          Fish & Chips   660       24.0
73 2025-05-03 03:00:00     Dinner         Club Sandwich   502       21.0
74 2025-05-03 16:00:00  Breakfast         Club Sandwich   502       21.0
75 2025-05-03 21:00:00      Lunch  Taco Plate (3â€¯tacos)   600       21.0
76 2025-05-04 00:00:00      Snack          Fish & Chips   660       24.0
77 2025-05-04 03:00:00     Dinner         Club Sandwich   502       21.0

ðŸ“‹  GPTâ€‘4o plan

       meal_slot                                        title  kcal  protein_g
0      Breakfast             Oatmeal with Berries and Almonds   615         18
1          Lunch            Grilled Chicken Salad with Quinoa   860         65
2  Evening Snack          Greek Yogurt with Walnuts and Honey   300         20
3         Dinner  Baked Salmon with Sweet Potato and Broccoli   690         82

=== User 4  â€¢  day_score 0.806 (macro 1.000 Â· taste 0.516) ===
ðŸ‘£  Last 7Â days

              timestamp  meal_slot             meal_name  kcal  protein_g
83  2025-04-28 21:00:00      Lunch          Fish & Chips   660       24.0
84  2025-04-29 03:00:00     Dinner    Milkshake (250â€¯ml)   315        7.5
85  2025-04-29 16:00:00  Breakfast          Fish & Chips   660       24.0
86  2025-04-29 21:00:00      Lunch    Milkshake (250â€¯ml)   315        7.5
87  2025-04-30 00:00:00      Snack         Club Sandwich   502       21.0
88  2025-04-30 03:00:00     Dinner  Taco Plate (3â€¯tacos)   600       21.0
89  2025-04-30 16:00:00  Breakfast         Club Sandwich   502       21.0
90  2025-04-30 21:00:00      Lunch    Milkshake (250â€¯ml)   315        7.5
91  2025-05-01 00:00:00      Snack     Fried Rice w/ Egg   562       15.0
92  2025-05-01 03:00:00     Dinner     Fried Rice w/ Egg   562       15.0
93  2025-05-01 16:00:00  Breakfast          Fish & Chips   660       24.0
94  2025-05-01 21:00:00      Lunch  Taco Plate (3â€¯tacos)   600       21.0
95  2025-05-02 00:00:00      Snack         Club Sandwich   502       21.0
96  2025-05-02 03:00:00     Dinner    Milkshake (250â€¯ml)   315        7.5
97  2025-05-02 16:00:00  Breakfast     Fried Rice w/ Egg   562       15.0
98  2025-05-02 21:00:00      Lunch          Fish & Chips   660       24.0
99  2025-05-03 03:00:00     Dinner    Milkshake (250â€¯ml)   315        7.5
100 2025-05-03 16:00:00  Breakfast          Fish & Chips   660       24.0
101 2025-05-03 21:00:00      Lunch         Club Sandwich   502       21.0
102 2025-05-04 03:00:00     Dinner     Fried Rice w/ Egg   562       15.0

ðŸ“‹  GPTâ€‘4o plan

       meal_slot                                        title  kcal  protein_g
0      Breakfast        Greek Yogurt with Berries and Almonds   865         60
1          Lunch            Quinoa Salad with Grilled Chicken  1210         90
2  Evening Snack                    Hummus with Veggie Sticks   350         15
3         Dinner  Salmon with Brown Rice and Steamed Broccoli  1034         94

=== User 5  â€¢  day_score 0.742 (macro 0.994 Â· taste 0.364) ===
ðŸ‘£  Last 7Â days

              timestamp  meal_slot             meal_name  kcal  protein_g
108 2025-04-28 21:00:00      Lunch           Masala Dosa   488        9.8
109 2025-04-29 03:00:00     Dinner   Gulab Jamun (2â€¯pcs)   225        3.0
110 2025-04-29 16:00:00  Breakfast   Gulab Jamun (2â€¯pcs)   225        3.0
111 2025-04-29 21:00:00      Lunch         Chole Bhature   525       14.2
112 2025-04-30 00:00:00      Snack  Paneer Butter Masala   585       16.5
113 2025-04-30 03:00:00     Dinner       Chicken Biryani   615       26.2
114 2025-04-30 16:00:00  Breakfast           Masala Dosa   488        9.8
115 2025-04-30 21:00:00      Lunch   Gulab Jamun (2â€¯pcs)   225        3.0
116 2025-05-01 03:00:00     Dinner  Paneer Butter Masala   585       16.5
117 2025-05-01 16:00:00  Breakfast           Masala Dosa   488        9.8
118 2025-05-01 21:00:00      Lunch           Masala Dosa   488        9.8
119 2025-05-02 00:00:00      Snack           Masala Dosa   488        9.8
120 2025-05-02 03:00:00     Dinner       Chicken Biryani   615       26.2
121 2025-05-02 16:00:00  Breakfast  Paneer Butter Masala   585       16.5
122 2025-05-02 21:00:00      Lunch   Gulab Jamun (2â€¯pcs)   225        3.0
123 2025-05-03 03:00:00     Dinner       Chicken Biryani   615       26.2
124 2025-05-03 16:00:00  Breakfast         Chole Bhature   525       14.2
125 2025-05-03 21:00:00      Lunch       Chicken Biryani   615       26.2
126 2025-05-04 00:00:00      Snack         Chole Bhature   525       14.2
127 2025-05-04 03:00:00     Dinner  Paneer Butter Masala   585       16.5

ðŸ“‹  GPTâ€‘4o plan

       meal_slot                                        title  kcal  protein_g
0      Breakfast                      Avocado Toast with Eggs   626         25
1          Lunch            Quinoa Salad with Grilled Chicken   877         65
2  Evening Snack        Greek Yogurt with Berries and Almonds   250         20
3         Dinner  Baked Salmon with Sweet Potato and Broccoli   753         78

=== User 6  â€¢  day_score 0.818 (macro 1.000 Â· taste 0.546) ===
ðŸ‘£  Last 7Â days

              timestamp  meal_slot             meal_name  kcal  protein_g
133 2025-04-28 21:00:00      Lunch     Fried Rice w/ Egg   938       25.0
134 2025-04-29 03:00:00     Dinner    Milkshake (250â€¯ml)   525       12.5
135 2025-04-29 16:00:00  Breakfast    Milkshake (250â€¯ml)   525       12.5
136 2025-04-29 21:00:00      Lunch          Fish & Chips  1100       40.0
137 2025-04-30 00:00:00      Snack         Club Sandwich   838       35.0
138 2025-04-30 03:00:00     Dinner          Fish & Chips  1100       40.0
139 2025-04-30 16:00:00  Breakfast     Fried Rice w/ Egg   938       25.0
140 2025-04-30 21:00:00      Lunch          Fish & Chips  1100       40.0
141 2025-05-01 00:00:00      Snack  Taco Plate (3â€¯tacos)  1000       35.0
142 2025-05-01 03:00:00     Dinner    Milkshake (250â€¯ml)   525       12.5
143 2025-05-01 16:00:00  Breakfast     Fried Rice w/ Egg   938       25.0
144 2025-05-01 21:00:00      Lunch          Fish & Chips  1100       40.0
145 2025-05-02 03:00:00     Dinner     Fried Rice w/ Egg   938       25.0
146 2025-05-02 16:00:00  Breakfast     Fried Rice w/ Egg   938       25.0
147 2025-05-02 21:00:00      Lunch  Taco Plate (3â€¯tacos)  1000       35.0
148 2025-05-03 00:00:00      Snack  Taco Plate (3â€¯tacos)  1000       35.0
149 2025-05-03 03:00:00     Dinner  Taco Plate (3â€¯tacos)  1000       35.0
150 2025-05-03 16:00:00  Breakfast          Fish & Chips  1100       40.0
151 2025-05-03 21:00:00      Lunch    Milkshake (250â€¯ml)   525       12.5
152 2025-05-04 03:00:00     Dinner     Fried Rice w/ Egg   938       25.0

ðŸ“‹  GPTâ€‘4o plan

       meal_slot                                        title  kcal  protein_g
0      Breakfast        Greek Yogurt with Berries and Almonds   520         30
1          Lunch            Grilled Chicken Salad with Quinoa   720         55
2  Evening Snack         Hummus with Carrot and Celery Sticks   210          8
3         Dinner  Baked Salmon with Sweet Potato and Broccoli   622         62

=== User 7  â€¢  day_score 0.783 (macro 1.000 Â· taste 0.457) ===
ðŸ‘£  Last 7Â days

,timestamp,meal_slot,meal_name,kcal,protein_g
158,2025-04-28 21:00:00,Lunch,Pepperoni Pizza (2â€¯slices),540,18.8
159,2025-04-29 00:00:00,Snack,Cheeseburger w/ Fries,712,26.2
160,2025-04-29 03:00:00,Dinner,Mac & Cheese (bowl),592,18.0
161,2025-04-29 16:00:00,Breakfast,Cheeseburger w/ Fries,712,26.2
162,2025-04-29 21:00:00,Lunch,Mac & Cheese (bowl),592,18.0
163,2025-04-30 00:00:00,Snack,Pepperoni Pizza (2â€¯slices),540,18.8
164,2025-04-30 03:00:00,Dinner,Cheeseburger w/ Fries,712,26.2
165,2025-04-30 16:00:00,Breakfast,Cheeseburger w/ Fries,712,26.2
166,2025-04-30 21:00:00,Lunch,Chocolate Donut,240,3.0
167,2025-05-01 00:00:00,Snack,Pepperoni Pizza (2â€¯slices),540,18.8
168,2025-05-01 03:00:00,Dinner,Chocolate Donut,240,3.0
169,2025-05-01 16:00:00,Breakfast,Pepperoni Pizza (2â€¯slices),540,18.8
170,2025-05-01 21:00:00,Lunch,Chocolate Donut,240,3.0
171,2025-05-02 00:00:00,Snack,Buffalo Wings (6â€¯pcs),510,30.0
172,2025-05-02 03:00:00,Dinner,Mac & Cheese (bowl),592,18.0
173,2025-05-02 16:00:00,Breakfast,Mac & Cheese (bowl),592,18.0
174,2025-05-02 21:00:00,Lunch,Cheeseburger w/ Fries,712,26.2
175,2025-05-03 00:00:00,Snack,Mac & Cheese (bowl),592,18.0
176,2025-05-03 03:00:00,Dinner,Pepperoni Pizza (2â€¯slices),540,18.8
177,2025-05-03 16:00:00,Breakfast,Chocolate Donut,240,3.0
178,2025-05-03 21:00:00,Lunch,Chocolate Donut,240,3.0
179,2025-05-04 03:00:00,Dinner,Cheeseburger w/ Fries,712,26.2

ðŸ“‹  GPTâ€‘4o plan

,meal_slot,title,kcal,protein_g
0,Breakfast,Greek Yogurt with Berries and Almonds,530,30
1,Lunch,Quinoa and Black Bean Salad,740,30
2,Evening Snack,Hummus with Veggie Sticks,200,8
3,Dinner,Stir-fried Tofu with Broccoli and Brown Rice,642,90

=== User 8  â€¢  day_score 0.783 (macro 0.994 Â· taste 0.466) ===
ðŸ‘£  Last 7Â days

              timestamp  meal_slot             meal_name  kcal  protein_g
185 2025-04-28 21:00:00      Lunch         Club Sandwich   502       21.0
186 2025-04-29 00:00:00      Snack     Fried Rice w/ Egg   562       15.0
187 2025-04-29 03:00:00     Dinner         Club Sandwich   502       21.0
188 2025-04-29 16:00:00  Breakfast  Taco Plate (3â€¯tacos)   600       21.0
189 2025-04-29 21:00:00      Lunch         Club Sandwich   502       21.0
190 2025-04-30 00:00:00      Snack    Milkshake (250â€¯ml)   315        7.5
191 2025-04-30 03:00:00     Dinner         Club Sandwich   502       21.0
192 2025-04-30 16:00:00  Breakfast  Taco Plate (3â€¯tacos)   600       21.0
193 2025-04-30 21:00:00      Lunch         Club Sandwich   502       21.0
194 2025-05-01 00:00:00      Snack         Club Sandwich   502       21.0
195 2025-05-01 03:00:00     Dinner  Taco Plate (3â€¯tacos)   600       21.0
196 2025-05-01 16:00:00  Breakfast          Fish & Chips   660       24.0
197 2025-05-01 21:00:00      Lunch         Club Sandwich   502       21.0
198 2025-05-02 00:00:00      Snack     Fried Rice w/ Egg   562       15.0
199 2025-05-02 03:00:00     Dinner    Milkshake (250â€¯ml)   315        7.5
200 2025-05-02 16:00:00  Breakfast     Fried Rice w/ Egg   562       15.0
201 2025-05-02 21:00:00      Lunch  Taco Plate (3â€¯tacos)   600       21.0
202 2025-05-03 00:00:00      Snack  Taco Plate (3â€¯tacos)   600       21.0
203 2025-05-03 03:00:00     Dinner         Club Sandwich   502       21.0
204 2025-05-03 16:00:00  Breakfast         Club Sandwich   502       21.0
205 2025-05-03 21:00:00      Lunch          Fish & Chips   660       24.0
206 2025-05-04 00:00:00      Snack     Fried Rice w/ Egg   562       15.0
207 2025-05-04 03:00:00     Dinner         Club Sandwich   502       21.0

ðŸ“‹  GPTâ€‘4o plan

,meal_slot,title,kcal,protein_g
0,Breakfast,Greek Yogurt Parfait with Berries and Almonds,700,50
1,Lunch,Quinoa and Black Bean Salad,980,40
2,Evening Snack,Hummus with Carrot and Cucumber Sticks,300,10
3,Dinner,Grilled Tofu with Stir-Fried Vegetables,819,110

=== User 9  â€¢  day_score 0.812 (macro 0.995 Â· taste 0.538) ===
ðŸ‘£  Last 7Â days

              timestamp  meal_slot             meal_name  kcal  protein_g
213 2025-04-28 21:00:00      Lunch    Milkshake (250â€¯ml)   525       12.5
214 2025-04-29 00:00:00      Snack          Fish & Chips  1100       40.0
215 2025-04-29 03:00:00     Dinner     Fried Rice w/ Egg   938       25.0
216 2025-04-29 16:00:00  Breakfast    Milkshake (250â€¯ml)   525       12.5
217 2025-04-29 21:00:00      Lunch     Fried Rice w/ Egg   938       25.0
218 2025-04-30 00:00:00      Snack          Fish & Chips  1100       40.0
219 2025-04-30 03:00:00     Dinner    Milkshake (250â€¯ml)   525       12.5
220 2025-04-30 16:00:00  Breakfast          Fish & Chips  1100       40.0
221 2025-04-30 21:00:00      Lunch  Taco Plate (3â€¯tacos)  1000       35.0
222 2025-05-01 00:00:00      Snack     Fried Rice w/ Egg   938       25.0
223 2025-05-01 03:00:00     Dinner     Fried Rice w/ Egg   938       25.0
224 2025-05-01 16:00:00  Breakfast    Milkshake (250â€¯ml)   525       12.5
225 2025-05-01 21:00:00      Lunch     Fried Rice w/ Egg   938       25.0
226 2025-05-02 00:00:00      Snack     Fried Rice w/ Egg   938       25.0
227 2025-05-02 03:00:00     Dinner     Fried Rice w/ Egg   938       25.0
228 2025-05-02 16:00:00  Breakfast          Fish & Chips  1100       40.0
229 2025-05-02 21:00:00      Lunch  Taco Plate (3â€¯tacos)  1000       35.0
230 2025-05-03 00:00:00      Snack     Fried Rice w/ Egg   938       25.0
231 2025-05-03 03:00:00     Dinner  Taco Plate (3â€¯tacos)  1000       35.0
232 2025-05-03 16:00:00  Breakfast    Milkshake (250â€¯ml)   525       12.5
233 2025-05-03 21:00:00      Lunch    Milkshake (250â€¯ml)   525       12.5
234 2025-05-04 00:00:00      Snack    Milkshake (250â€¯ml)   525       12.5
235 2025-05-04 03:00:00     Dinner          Fish & Chips  1100       40.0

ðŸ“‹  GPTâ€‘4o plan

       meal_slot                                        title  kcal  protein_g
0      Breakfast        Greek Yogurt with Berries and Almonds   510         30
1          Lunch            Grilled Chicken Salad with Quinoa   715         55
2  Evening Snack                    Hummus with Carrot Sticks   200          7
3         Dinner  Baked Salmon with Sweet Potato and Broccoli   617         61

=== User 10  â€¢  day_score 0.788 (macro 0.993 Â· taste 0.481) ===
ðŸ‘£  Last 7Â days

              timestamp  meal_slot             meal_name  kcal  protein_g
241 2025-04-28 21:00:00      Lunch          Fish & Chips   660       24.0
242 2025-04-29 00:00:00      Snack         Club Sandwich   502       21.0
243 2025-04-29 03:00:00     Dinner    Milkshake (250â€¯ml)   315        7.5
244 2025-04-29 16:00:00  Breakfast  Taco Plate (3â€¯tacos)   600       21.0
245 2025-04-29 21:00:00      Lunch    Milkshake (250â€¯ml)   315        7.5
246 2025-04-30 00:00:00      Snack          Fish & Chips   660       24.0
247 2025-04-30 03:00:00     Dinner    Milkshake (250â€¯ml)   315        7.5
248 2025-04-30 16:00:00  Breakfast     Fried Rice w/ Egg   562       15.0
249 2025-04-30 21:00:00      Lunch  Taco Plate (3â€¯tacos)   600       21.0
250 2025-05-01 00:00:00      Snack    Milkshake (250â€¯ml)   315        7.5
251 2025-05-01 03:00:00     Dinner     Fried Rice w/ Egg   562       15.0
252 2025-05-01 16:00:00  Breakfast     Fried Rice w/ Egg   562       15.0
253 2025-05-01 21:00:00      Lunch         Club Sandwich   502       21.0
254 2025-05-02 00:00:00      Snack     Fried Rice w/ Egg   562       15.0
255 2025-05-02 03:00:00     Dinner          Fish & Chips   660       24.0
256 2025-05-02 16:00:00  Breakfast     Fried Rice w/ Egg   562       15.0
257 2025-05-02 21:00:00      Lunch  Taco Plate (3â€¯tacos)   600       21.0
258 2025-05-03 00:00:00      Snack    Milkshake (250â€¯ml)   315        7.5
259 2025-05-03 03:00:00     Dinner         Club Sandwich   502       21.0
260 2025-05-03 16:00:00  Breakfast          Fish & Chips   660       24.0
261 2025-05-03 21:00:00      Lunch          Fish & Chips   660       24.0
262 2025-05-04 00:00:00      Snack  Taco Plate (3â€¯tacos)   600       21.0
263 2025-05-04 03:00:00     Dinner          Fish & Chips   660       24.0

ðŸ“‹  GPTâ€‘4o plan

       meal_slot                                title  kcal  protein_g
0      Breakfast     Oatmeal with Berries and Almonds   560         18
1          Lunch                Grilled Chicken Salad   780         65
2  Evening Snack  Greek Yogurt with Honey and Walnuts   300         20
3         Dinner       Quinoa and Black Bean Stir-fry   601         65

In [ ]:
print("=== GPTâ€‘4o plan scores ===")
display(score_df)