In [2]:
import json, random, math
from datetime import datetime, timedelta
from pathlib import Path

import numpy as np
import pandas as pd

In [3]:
user_profile_df = pd.DataFrame([{
    "id": "9999",  # Manual ID
    "name": "Artemis",
    "email": "artemis@example.com",
    "age": 27,
    "sex": "Male",
    "weight_kg": 68,
    "height_cm": 173,
    "activity_level": "Moderately Active",  # Must match expected strings
    "exercise_frequency_per_week": 4
}])

user_profile_df

,id,name,email,age,sex,weight_kg,height_cm,activity_level,exercise_frequency_per_week
0,9999,Artemis,artemis@example.com,27,Male,68,173,Moderately Active,4

In [4]:
# 🎯 Your Health Goals
user_preferences_df = pd.DataFrame([{
    'user_id': 9999,
    "health_conditions": ["none"],  # list of conditions
    "goal_type": "muscle_gain",      # match with what calculations expects
    "motivation": "Increase strength and energy",
    "dietary_restrictions": "Shellfish",
    "preferred_cuisines": "Mediterranean, Indian"
}])

user_preferences_df

,user_id,health_conditions,goal_type,motivation,dietary_restrictions,preferred_cuisines
0,9999,[none],muscle_gain,Increase strength and energy,Shellfish,"Mediterranean, Indian"

In [5]:
IMMUTABLE_COLS = ["id", "name", "sex", "height_cm"]
MUTABLE_COLS   = ["age", "weight_kg", "activity_level",
                  "exercise_frequency_per_week"]

immutable_profile = user_profile_df[IMMUTABLE_COLS].iloc[0].to_dict()
mutable_profile   = user_profile_df[MUTABLE_COLS].iloc[0].to_dict()

nutrition_targets = pd.DataFrame([{
    "user_id": 9999,
    "optimal_calories": 2876.97,
    "protein_g": 251.73,
    "carbs_g":   287.70,
    "fat_g":      79.92,
    "ibw_kg":     70.15,
    "health_conditions": ["none"],
    "goals": ["muscle_gain"],
    "motivation": "Increase strength and energy"
}]).iloc[0].to_dict()

print("✅ immutable_profile:", immutable_profile)
print("✅ mutable_profile:",   mutable_profile)
print("✅ nutrition_targets:", {k:round(v,2) if isinstance(v,float) else v
                               for k,v in nutrition_targets.items()})

✅ immutable_profile: {'id': '9999', 'name': 'Artemis', 'sex': 'Male', 'height_cm': 173}
✅ mutable_profile: {'age': 27, 'weight_kg': 68, 'activity_level': 'Moderately Active', 'exercise_frequency_per_week': 4}
✅ nutrition_targets: {'user_id': 9999, 'optimal_calories': 2876.97, 'protein_g': 251.73, 'carbs_g': 287.7, 'fat_g': 79.92, 'ibw_kg': 70.15, 'health_conditions': ['none'], 'goals': ['muscle_gain'], 'motivation': 'Increase strength and energy'}

In [6]:
from datetime import datetime, timedelta

# 🗓️ Set the starting date (today)
today = datetime.now()

# ✍️ Manually define your meals for each day
manual_meals = [
    # Format: (day_offset, meal_time (hh:mm), meal_type, meal_name)
    (6, "08:00", "Breakfast", "Mixed nuts and watermelon"),
    (6, "13:00", "Lunch", "Grilled chicken salad"),
    (6, "19:30", "Dinner", "Matar paneer with roti"),
    (6, "22:00", "Snack", "Protein bar"),
    
    (5, "09:00", "Breakfast", "Greek yogurt with berries"),
    (5, "12:30", "Lunch", "Matar Paneer with Rice"),
    (5, "15:00", "Snack", "Grapes"),
    (5, "20:00", "Dinner", "Vegetable stir fry"),
    
    (4, "08:30", "Breakfast", ""),
    (4, "14:00", "Lunch", "2 burgers"),
    (4, "19:00", "Dinner", "Noodles with mixed vegetables and eggs"),
    (4, "22:00", "Snack", "Protein Shake"),
    
    (3, "08:30", "Breakfast", ""),
    (3, "14:00", "Lunch", "Chicken curry with brown rice"),
    (3, "19:00", "Dinner", "Rice with chicken curry"),

    (2, "08:30", "Breakfast", "glass of milk"),
    (2, "14:00", "Lunch", "Rice with chicken curry"),
    (2, "19:00", "Dinner", "Kebab and 3 rotis"),

    (1, "08:30", "Breakfast", "A Banana"),
    (1, "14:00", "Lunch", "Kebab and 3 rotis"),
    (1, "17:00", "Snack", "Some mixed nuts"),
    (1, "19:00", "Dinner", "Rice, dal and cauliflower fry"),
    (1, "22:00", "Snack", "Peanut butter and banana smoothie"),

    (0, "08:30", "Breakfast", ""),
    (0, "14:00", "Lunch", "Rice, dal and omelette"),
    (0, "19:00", "Dinner", "Rice, dal and omelette"),
    
]

# 🍴 Build list of meal logs
meal_logs = []

for day_offset, meal_time_str, meal_type, meal_name in manual_meals:
    meal_datetime = (today - timedelta(days=day_offset)).replace(
        hour=int(meal_time_str.split(":")[0]),
        minute=int(meal_time_str.split(":")[1]),
        second=0, microsecond=0
    )
    meal_logs.append({
        "timestamp": meal_datetime,
        "day": day_offset,
        "meal_name": meal_name,
        "meal_type": meal_type,
        "user_id": 9999  # Your custom user id
    })

# 🍽️ Create DataFrame
user_meals_df = pd.DataFrame(meal_logs).sort_values(by=["timestamp"]).reset_index(drop=True)

# 🖥️ Display
user_meals_df

,timestamp,day,meal_name,meal_type,user_id
0,2025-04-29 08:00:00,6,Mixed nuts and watermelon,Breakfast,9999
1,2025-04-29 13:00:00,6,Grilled chicken salad,Lunch,9999
2,2025-04-29 19:30:00,6,Matar paneer with roti,Dinner,9999
3,2025-04-29 22:00:00,6,Protein bar,Snack,9999
4,2025-04-30 09:00:00,5,Greek yogurt with berries,Breakfast,9999
5,2025-04-30 12:30:00,5,Matar Paneer with Rice,Lunch,9999
6,2025-04-30 15:00:00,5,Grapes,Snack,9999
7,2025-04-30 20:00:00,5,Vegetable stir fry,Dinner,9999
8,2025-05-01 08:30:00,4,,Breakfast,9999
9,2025-05-01 14:00:00,4,2 burgers,Lunch,9999
10,2025-05-01 19:00:00,4,Noodles with mixed vegetables and eggs,Dinner,9999
11,2025-05-01 22:00:00,4,Protein Shake,Snack,9999
12,2025-05-02 08:30:00,3,,Breakfast,9999
13,2025-05-02 14:00:00,3,Chicken curry with brown rice,Lunch,9999
14,2025-05-02 19:00:00,3,Rice with chicken curry,Dinner,9999
15,2025-05-03 08:30:00,2,glass of milk,Breakfast,9999
16,2025-05-03 14:00:00,2,Rice with chicken curry,Lunch,9999
17,2025-05-03 19:00:00,2,Kebab and 3 rotis,Dinner,9999
18,2025-05-04 08:30:00,1,A Banana,Breakfast,9999
19,2025-05-04 14:00:00,1,Kebab and 3 rotis,Lunch,9999
20,2025-05-04 17:00:00,1,Some mixed nuts,Snack,9999
21,2025-05-04 19:00:00,1,"Rice, dal and cauliflower fry",Dinner,9999
22,2025-05-04 22:00:00,1,Peanut butter and banana smoothie,Snack,9999
23,2025-05-05 08:30:00,0,,Breakfast,9999
24,2025-05-05 14:00:00,0,"Rice, dal and omelette",Lunch,9999
25,2025-05-05 19:00:00,0,"Rice, dal and omelette",Dinner,9999

In [ ]:
import os, json, time, requests
from tqdm.auto import tqdm
from dotenv import load_dotenv  
import sys

# ✅ Load .env file (make sure the path is correct)
load_dotenv("../.env", override=True)

# ✅ Retrieve secrets
EDAMAM_APP_ID  = os.getenv("EDAMAM_APP_ID")
EDAMAM_APP_KEY = os.getenv("EDAMAM_APP_KEY")

print("✅ Loaded:", EDAMAM_APP_ID, EDAMAM_APP_KEY)

def query_edamam(meal_name: str, retries: int = 2, sleep: int = 2) -> dict:
    """Return Edamam Nutrition‑Details JSON for *one* meal title."""
    url     = "https://api.edamam.com/api/nutrition-details"
    headers = {"Content-Type": "application/json"}
    payload = {"title": meal_name[:60],          # max 60 chars per docs
               "ingr": [f"1 serving {meal_name}"]}
    params  = {"app_id": EDAMAM_APP_ID, "app_key": EDAMAM_APP_KEY}

    for attempt in range(retries):
        resp = requests.post(url, headers=headers, params=params, json=payload, timeout=15)
        if resp.status_code == 200:
            return resp.json()
        if resp.status_code in (429, 500) and attempt < retries-1:
            time.sleep(sleep * (attempt+1))
            continue
        print(f"⚠️  Edamam {resp.status_code}: {resp.text[:120]}...")
        return {}          # graceful fail
    return {}

# 🗄️ Simple in‑memory cache (replace with Redis or SQLite for persistence)
NUTRI_CACHE = {}

macro_cols = ["kcal","protein_g","carbs_g","fat_g"]
user_meals_df[macro_cols] = np.nan      # initialize columns

for idx, row in tqdm(user_meals_df.iterrows(), total=len(user_meals_df), desc="Edamam"):
    title = row["meal_name"].strip()
    if not title:
        continue                        # blank meals stay NaN

    if title not in NUTRI_CACHE:
        data = query_edamam(title)
        NUTRI_CACHE[title] = data

    data = NUTRI_CACHE[title]
    if not data:
        continue                        # leave NaN if lookup failed

    user_meals_df.loc[idx, "kcal"]       = data.get("calories")
    user_meals_df.loc[idx, "protein_g"]  = (data.get("totalNutrients", {})
                                               .get("PROCNT", {})
                                               .get("quantity"))
    user_meals_df.loc[idx, "carbs_g"]    = (data.get("totalNutrients", {})
                                               .get("CHOCDF", {})
                                               .get("quantity"))
    user_meals_df.loc[idx, "fat_g"]      = (data.get("totalNutrients", {})
                                               .get("FAT", {})
                                               .get("quantity"))

# 🖥️  Show what we got
user_meals_df

✅ Loaded: 40804e09 299e1f4c168d2c142f2e0b89d15e99f8

Edamam:   0%|          | 0/26 [00:00<?, ?it/s]

⚠️  Edamam 555: {"error":"low_quality"}...
⚠️  Edamam 555: {"error":"low_quality"}...
⚠️  Edamam 555: {"error":"low_quality"}...
⚠️  Edamam 555: {"error":"low_quality"}...

,timestamp,day,meal_name,meal_type,user_id,kcal,protein_g,carbs_g,fat_g
0,2025-04-29 08:00:00,6,Mixed nuts and watermelon,Breakfast,9999,290.0,8.33800,28.7560,18.6100
1,2025-04-29 13:00:00,6,Grilled chicken salad,Lunch,9999,537.0,46.50000,0.0000,37.7500
2,2025-04-29 19:30:00,6,Matar paneer with roti,Dinner,9999,115.0,13.09800,3.9884,5.0740
3,2025-04-29 22:00:00,6,Protein bar,Snack,9999,NaN,NaN,NaN,NaN
4,2025-04-30 09:00:00,5,Greek yogurt with berries,Breakfast,9999,125.0,10.51200,4.7520,7.6320
5,2025-04-30 12:30:00,5,Matar Paneer with Rice,Lunch,9999,115.0,13.09800,3.9884,5.0740
6,2025-04-30 15:00:00,5,Grapes,Snack,9999,86.0,0.90720,22.8060,0.2016
7,2025-04-30 20:00:00,5,Vegetable stir fry,Dinner,9999,32.0,1.49850,6.0750,0.2340
8,2025-05-01 08:30:00,4,,Breakfast,9999,NaN,NaN,NaN,NaN
9,2025-05-01 14:00:00,4,2 burgers,Lunch,9999,NaN,NaN,NaN,NaN
10,2025-05-01 19:00:00,4,Noodles with mixed vegetables and eggs,Dinner,9999,40.0,2.12380,7.5932,0.2050
11,2025-05-01 22:00:00,4,Protein Shake,Snack,9999,NaN,NaN,NaN,NaN
12,2025-05-02 08:30:00,3,,Breakfast,9999,NaN,NaN,NaN,NaN
13,2025-05-02 14:00:00,3,Chicken curry with brown rice,Lunch,9999,68.0,1.42500,14.4780,0.5092
14,2025-05-02 19:00:00,3,Rice with chicken curry,Dinner,9999,NaN,NaN,NaN,NaN
15,2025-05-03 08:30:00,2,glass of milk,Breakfast,9999,148.0,7.68600,11.7120,7.9300
16,2025-05-03 14:00:00,2,Rice with chicken curry,Lunch,9999,NaN,NaN,NaN,NaN
17,2025-05-03 19:00:00,2,Kebab and 3 rotis,Dinner,9999,201.0,7.61600,31.5520,5.0660
18,2025-05-04 08:30:00,1,A Banana,Breakfast,9999,112.0,1.37340,28.7280,0.4158
19,2025-05-04 14:00:00,1,Kebab and 3 rotis,Lunch,9999,201.0,7.61600,31.5520,5.0660
20,2025-05-04 17:00:00,1,Some mixed nuts,Snack,9999,206.0,6.63000,7.6160,18.1900
21,2025-05-04 19:00:00,1,"Rice, dal and cauliflower fry",Dinner,9999,533.0,19.28955,110.4333,1.2255
22,2025-05-04 22:00:00,1,Peanut butter and banana smoothie,Snack,9999,303.0,8.47740,35.8640,16.8638
23,2025-05-05 08:30:00,0,,Breakfast,9999,NaN,NaN,NaN,NaN
24,2025-05-05 14:00:00,0,"Rice, dal and omelette",Lunch,9999,168.0,11.80800,30.4320,0.5088
25,2025-05-05 19:00:00,0,"Rice, dal and omelette",Dinner,9999,168.0,11.80800,30.4320,0.5088

In [8]:
import pandas as pd

# Define enrichment function for vague meal names
def enrich_meal_name(name: str) -> str:
    name = name.lower()
    if "protein bar" in name:
        return "1 chocolate protein bar"
    if "burger" in name:
        return "2 grilled beef burgers with cheese and lettuce"
    if "shake" in name:
        return "1 glass of chocolate protein shake with milk"
  
    return name

# Apply function safely to each meal_name (handle NaNs and blank entries)
user_meals_df["meal_name"] = user_meals_df["meal_name"].fillna("").apply(
    lambda x: enrich_meal_name(x.strip()) if x.strip() else ""  # keep blanks for skipped logic
)
user_meals_df.dropna(subset=["kcal"], inplace=True)  # remove empty meal names
user_meals_df

,timestamp,day,meal_name,meal_type,user_id,kcal,protein_g,carbs_g,fat_g
0,2025-04-29 08:00:00,6,mixed nuts and watermelon,Breakfast,9999,290.0,8.33800,28.7560,18.6100
1,2025-04-29 13:00:00,6,grilled chicken salad,Lunch,9999,537.0,46.50000,0.0000,37.7500
2,2025-04-29 19:30:00,6,matar paneer with roti,Dinner,9999,115.0,13.09800,3.9884,5.0740
4,2025-04-30 09:00:00,5,greek yogurt with berries,Breakfast,9999,125.0,10.51200,4.7520,7.6320
5,2025-04-30 12:30:00,5,matar paneer with rice,Lunch,9999,115.0,13.09800,3.9884,5.0740
6,2025-04-30 15:00:00,5,grapes,Snack,9999,86.0,0.90720,22.8060,0.2016
7,2025-04-30 20:00:00,5,vegetable stir fry,Dinner,9999,32.0,1.49850,6.0750,0.2340
10,2025-05-01 19:00:00,4,noodles with mixed vegetables and eggs,Dinner,9999,40.0,2.12380,7.5932,0.2050
13,2025-05-02 14:00:00,3,chicken curry with brown rice,Lunch,9999,68.0,1.42500,14.4780,0.5092
15,2025-05-03 08:30:00,2,glass of milk,Breakfast,9999,148.0,7.68600,11.7120,7.9300
17,2025-05-03 19:00:00,2,kebab and 3 rotis,Dinner,9999,201.0,7.61600,31.5520,5.0660
18,2025-05-04 08:30:00,1,a banana,Breakfast,9999,112.0,1.37340,28.7280,0.4158
19,2025-05-04 14:00:00,1,kebab and 3 rotis,Lunch,9999,201.0,7.61600,31.5520,5.0660
20,2025-05-04 17:00:00,1,some mixed nuts,Snack,9999,206.0,6.63000,7.6160,18.1900
21,2025-05-04 19:00:00,1,"rice, dal and cauliflower fry",Dinner,9999,533.0,19.28955,110.4333,1.2255
22,2025-05-04 22:00:00,1,peanut butter and banana smoothie,Snack,9999,303.0,8.47740,35.8640,16.8638
24,2025-05-05 14:00:00,0,"rice, dal and omelette",Lunch,9999,168.0,11.80800,30.4320,0.5088
25,2025-05-05 19:00:00,0,"rice, dal and omelette",Dinner,9999,168.0,11.80800,30.4320,0.5088

In [9]:
# ▢ Cell : Build clean history_summary from real macros
from datetime import datetime, timedelta
from sklearn.metrics.pairwise import cosine_similarity
from sentence_transformers import SentenceTransformer
import numpy as np

# 1️⃣  Ensure dtypes & clean blanks
for col in ["kcal","protein_g","carbs_g","fat_g"]:
    user_meals_df[col] = pd.to_numeric(user_meals_df[col], errors="coerce")

clean_df = user_meals_df.dropna(subset=["meal_name", "kcal"])   # drop rows with no food or macros
clean_df["timestamp"] = pd.to_datetime(clean_df["timestamp"])

# 2️⃣  7‑day window
WINDOW_DAYS = 7
cutoff      = datetime.now() - timedelta(days=WINDOW_DAYS)
recent      = clean_df[clean_df["timestamp"] >= cutoff].copy()

# 3️⃣  Daily macro totals → mean vector
daily_macro = (recent
               .groupby(recent["timestamp"].dt.date)[["kcal","protein_g","carbs_g","fat_g"]]
               .sum())
history_nutri_vector = daily_macro.mean().round(1).to_dict()

# 4️⃣  SBERT flavour embedding
sbert = SentenceTransformer("all-MiniLM-L6-v2")     # fast, 384‑d
embeddings = sbert.encode(recent["meal_name"].tolist(),
                          normalize_embeddings=True)
history_flavor_vector = embeddings.mean(axis=0)     # numpy

# 5️⃣  Variety histogram (reuse your SBERT / LLM cuisine guesser)
def guess_cuisine(title:str) -> str:
    # quick SBERT centroid trick (see previous answer) – adjust as desired
    seeds = {"Indian":["dal","paneer","roti"], "Mediterranean":["greek","hummus","falafel"],
             "Asian":["noodles","ramen","sushi"], "Other":[]}
    centroids = {k: sbert.encode(v, normalize_embeddings=True).mean(axis=0)
                 for k,v in seeds.items() if v}
    vec = sbert.encode(title, normalize_embeddings=True)
    sims = {k: cosine_similarity([vec],[cent])[0,0] for k,cent in centroids.items()}
    return max(sims, key=sims.get, default="Other")

recent["cuisine"] = recent["meal_name"].apply(guess_cuisine)
variety_hist = recent["cuisine"].value_counts(normalize=True).to_dict()

# # 6️⃣  Health flags (needs compute_health_flags from earlier)
# user_pref_row  = user_preferences_df.iloc[0].to_dict()
# flags = compute_health_flags(user_pref_row,
#                              aggregate_nutrients(recent),   # helper from previous reply
#                              weight_kg=mutable_profile["weight_kg"])

# 7️⃣  Assemble summary
history_summary = {
    "nutri_vector": history_nutri_vector,
    "flavor_vector": history_flavor_vector.tolist(),
    "variety_hist": variety_hist,
    "health_flags": {"sodium_over": False, "protein_low": False},
}

print("📊 history_summary")
pd.json_normalize(history_summary).T

/home/artemis/anaconda3/envs/hobbes/lib/python3.10/site-packages/torch/cuda/__init__.py:174: UserWarning: CUDA initialization: CUDA unknown error - this may be due to an incorrectly set up environment, e.g. changing env variable CUDA_VISIBLE_DEVICES after program start. Setting the available devices to be zero. (Triggered internally at /pytorch/c10/cuda/CUDAFunctions.cpp:109.)
  return torch._C._cuda_getDeviceCount() > 0

📊 history_summary

                                                                            0
flavor_vector               [-0.04351898655295372, -0.004660799168050289, ...
nutri_vector.kcal                                                       492.6
nutri_vector.protein_g                                                   25.7
nutri_vector.carbs_g                                                     58.7
nutri_vector.fat_g                                                       18.7
variety_hist.Asian                                                   0.666667
variety_hist.Indian                                                  0.222222
variety_hist.Mediterranean                                           0.111111
health_flags.sodium_over                                                False
health_flags.protein_low                                                False

In [37]:
from google import genai
import os 
import re
from google.genai import types 
# Your API key
from dotenv import load_dotenv  
import sys

# ✅ Load .env file (make sure the path is correct)
load_dotenv("../.env", override=True)

GEMINI_API_KEY = os.getenv("GEMINI_API_KEY")
GEMINI_MODEL = "models/gemini-2.0-flash-lite"

client = genai.Client(api_key=GEMINI_API_KEY)

# ===========================================================
# 2. GEMINI HELPERS 
# ===========================================================
def _content_user(text):                         # ↓ single user role
    return types.Content(role="user",
                         parts=[types.Part(text=text)])

def call_gemini(one_user_string: str,
                temperature=0.3,
                max_tokens=512) -> str:
    resp = client.models.generate_content(
        model=GEMINI_MODEL,
        contents=[_content_user(one_user_string)],
        config=types.GenerateContentConfig(
            temperature=temperature,
            max_output_tokens=max_tokens
        )
    )
    return resp.candidates[0].content.parts[0].text

def gemini_json(schema, payload, temperature=0.3, max_tokens=512,
                system_override: str = "") -> dict:
    """
    schema  – dict describing expected JSON
    payload – anything serialisable
    system_override – extra instruction text (optional)
    """
    prompt = (
        system_override +
        "Respond ONLY with JSON matching this schema:\n" +
        json.dumps(schema, indent=2) +
        "\n\n### INPUT\n" +
        json.dumps(payload)
    )
    raw = call_gemini(prompt, temperature=temperature, max_tokens=max_tokens)
    return json.loads(re.search(r"\{.*\}", raw, re.S).group())

# ===========================================================
# 3. PLANNER INTENT  (JSON)
# ===========================================================
PLANNER_SCHEMA = {
  "goal_today": "string",
  "target_delta": {"kcal":"integer","protein_g":"integer",
                   "carbs_g":"integer","fat_g":"integer"},
  "meal_template":[{"meal":"string","cuisine":"string"}]
}

intent_json = gemini_json(
    schema=PLANNER_SCHEMA,
    payload={"profile": mutable_profile,
             "targets": nutrition_targets,
             "history": history_summary},
    temperature=0.35, max_tokens=600)
print("🗂️ intent_json\n", json.dumps(intent_json, indent=2))

🗂️ intent_json
 {
  "goal_today": "Consume meals to support muscle gain, aiming for the target macro intake.",
  "target_delta": {
    "kcal": 2384,
    "protein_g": 196,
    "carbs_g": 229,
    "fat_g": 61
  },
  "meal_template": [
    {
      "meal": "Breakfast",
      "cuisine": "Indian"
    },
    {
      "meal": "Lunch",
      "cuisine": "Asian"
    },
    {
      "meal": "Dinner",
      "cuisine": "Mediterranean"
    }
  ]
}

In [12]:
# ▢ Cell : extract 5 candidate meals from test_users.csv
import re, json, pandas as pd
from pathlib import Path


CSV_PATH = "/home/artemis/project/hobbes_meal_rec/data/test_users.csv"   # adjust if needed
TARGET_UID = 9999                      # which user row to parse

df   = pd.read_csv(CSV_PATH)
row  = df.loc[df["user_id"]==TARGET_UID].iloc[0]

# 1️⃣  Yank JSON from the raw_output column (inside ```json ... ```)
m = re.search(r"\{.*\}", row["raw_output"], re.S)
assert m, "Could not find JSON in raw_output!"
data = json.loads(m.group())

# 2️⃣  Build candidate_meals list (take first 5 meals)
candidate_meals = []
for meal in data["meals"][:5]:
    macros = meal["macros"]
    candidate_meals.append({
        "meal_slot": meal["label"],
        "title":      meal["name"],
        "kcal":       macros["calories"],
        "protein_g":  macros["protein_g"],
        "carbs_g":    macros["carbs_g"],
        "fat_g":      macros["fat_g"],
    })

print("✅ Parsed candidate meals")
pd.DataFrame(candidate_meals)[["meal_slot","title","kcal","protein_g"]]

# using previously‑defined scoring 
cand_df = pd.DataFrame(candidate_meals)

cand_df["taste"] = cand_df["title"].apply(
    lambda t: cosine_similarity(
        [sbert.encode(t, normalize_embeddings=True)],
        [np.array(history_summary["flavor_vector"])]
     )[0,0]
)
cand_df["macro"] = cand_df.apply(
    lambda r: 1/(1+abs(r["protein_g"]-nutrition_targets["protein_g"]/3)), axis=1)
cand_df["score"] = 0.6*cand_df["taste"] + 0.4*cand_df["macro"]

ranked_meals = (cand_df
                .sort_values("score", ascending=False)
                .to_dict(orient="records"))

print("\n🏆  Ranked candidate meals")
display(cand_df[["meal_slot","title","kcal","protein_g","score"]])

✅ Parsed candidate meals

🏆  Ranked candidate meals

,meal_slot,title,kcal,protein_g,score
0,Breakfast,Oatmeal with Berries and Nuts,580,20.0,0.396884
1,Lunch,Lentil Soup with Whole-Wheat Bread and Salad,890,40.0,0.299656
2,Evening Snack,Apple slices with Peanut Butter,302,10.0,0.315925
3,Dinner,Chicken Stir-fry with Brown Rice,1030,80.1,0.435954

In [13]:
voice_prompt = json.dumps({"intent": intent_json,
                           "meals":  ranked_meals}, indent=2)
chat_reply   = call_gemini(voice_prompt, temperature=0.55, max_tokens=220)
print(chat_reply)

Here's an analysis of the provided meal plan and suggestions for improvement to better align with the user's goals:

**Overall Assessment:**

*   **Calorie Deficit:** The current meal plan totals 2802 calories, exceeding the target of 2384 calories. This is a deficit, which is not ideal for muscle gain.
*   **Protein Deficit:** The plan provides 150.1g of protein, falling short of the 192g target.
*   **Carb & Fat Surplus:** The plan exceeds the target for carbs and fat.
*   **Meal Slot Mismatches:** The plan includes an "Evening Snack" which was not requested. The plan does not provide any meals for the requested cuisine types.

**Detailed Breakdown and Recommendations:**

1.  **Breakfast:**
    *   **Current:** "Oatmeal with Berries and Nuts" (580 kcal, 20g protein, 70g carbs, 30g fat)
    *

In [14]:
voice_prompt = (
    "You are a meal‑planning assistant.\n"
    "• Write a friendly daily plan for the user in 4‑6 bullet points.\n"
    "• Mention each meal_slot and its dish.\n"
    "• End with one sentence on how today’s macros move toward the goals.\n\n"
    "### DATA\n"
    + json.dumps({"intent": intent_json, "meals": ranked_meals}, indent=2)
)

chat_reply = call_gemini(voice_prompt, temperature=0.55, max_tokens=220)
print(chat_reply)

Here is your meal plan for today:

*   Start your day with **Breakfast**: Oatmeal with Berries and Nuts.
*   For **Lunch**, enjoy Lentil Soup with Whole-Wheat Bread and Salad.
*   Have an **Evening Snack**: Apple slices with Peanut Butter.
*   Finish your day with **Dinner**: Chicken Stir-fry with Brown Rice.

This meal plan is designed to provide a good balance of nutrients to help you meet your daily goals.

In [17]:
hist_vec = np.array(history_summary["flavor_vector"])

# ▢ Cell : whole‑day plan score  ✅ fixed
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.metrics.pairwise import cosine_similarity    # make sure it’s imported

def day_macro_score(day_df):
    plan_tot   = day_df[["kcal", "protein_g", "carbs_g", "fat_g"]].sum()
    targ_vec   = np.array([nutrition_targets["optimal_calories"],
                           nutrition_targets["protein_g"],
                           nutrition_targets["carbs_g"],
                           nutrition_targets["fat_g"]])
    plan_vec   = plan_tot.values
    rmse       = np.sqrt(mean_squared_error(targ_vec, plan_vec))
    return max(0, 1 - rmse / targ_vec[0])          # normalise by kcal target

def day_taste_score(day_df):
    titles   = " ".join(day_df["title"].tolist())
    plan_vec = sbert.encode(titles, normalize_embeddings=True)
    # --- use hist_vec, NOT the whole history_summary dict
    return cosine_similarity([plan_vec], [hist_vec])[0, 0]

# assume cand_df already exists with columns: meal_slot, title, kcal, protein_g, carbs_g, fat_g
plan_df   = cand_df
macro_day = day_macro_score(plan_df)
taste_day = day_taste_score(plan_df)
day_score = 0.6 * macro_day + 0.4 * taste_day

print(f"macro_day  : {macro_day:.3f}")
print(f"taste_day  : {taste_day:.3f}")
print(f"★ day_score: {day_score:.3f}")

macro_day  : 0.977
taste_day  : 0.675
★ day_score: 0.857

## n candidates and scoring

In [ ]:
def build_one_plan(profile, targets, history, temperature=0.45):
    """Call Gemini planner → return parsed JSON {intent, meals[]}"""
    plan_schema = {
      "intent": PLANNER_SCHEMA,
      "meals":  [
        {"label":"string","name":"string",
         "macros":{"calories":"integer","protein_g":"number",
                   "carbs_g":"number","fat_g":"number"}}
      ]
    }

    payload = {"profile": profile,
               "targets": targets,
               "history": history}

    return gemini_json(plan_schema, payload,
                       temperature=temperature, max_tokens=800)

In [27]:
def critic_score(plan):
    """
    plan:  dict  {"intent":..., "meals":[ {label,name,macros{...}}, ... ]}
    returns (score, plan_df)
    """
    df = pd.DataFrame([{
        "meal_slot": m["label"],
        "title":     m["name"],
        "kcal":      m["macros"]["calories"],
        "protein_g": m["macros"]["protein_g"],
        "carbs_g":   m["macros"]["carbs_g"],
        "fat_g":     m["macros"]["fat_g"],
    } for m in plan["meals"]])

    macro_day = day_macro_score(df)
    taste_day = day_taste_score(df)
    day_score = 0.6 * macro_day + 0.4 * taste_day
    return day_score, macro_day, taste_day, df

In [28]:
# ▢ Cell C – generate K plans, show meals + score breakdown, pick best
K, THRESHOLD = 4, 0.70
best_score, best_plan, best_df = -1, None, None

for attempt in range(2):                                   # one regen pass
    print(f"\n===============  ROUND {attempt+1}  ===============")
    for idx in range(1, K+1):
        label = f"R{attempt+1}-{idx}"
        plan = build_one_plan(mutable_profile, nutrition_targets,
                              history_summary, temperature=0.45+0.05*attempt)
        score, macro_d, taste_d, df = critic_score(plan)

        # ── display ───────────────────────────────────────────────
        print(f"\n{label}  —  day_score {score:.3f}  "
              f"(macro {macro_d:.3f} · taste {taste_d:.3f})")
        display(df[["meal_slot","title","kcal","protein_g"]])

        if score > best_score:
            best_score, best_plan, best_df = score, plan, df

    if best_score >= THRESHOLD:
        break
    print(f"\n🔄  No plan ≥ {THRESHOLD:.2f}. Regenerating …")

print(f"\n🏆  BEST plan  (score {best_score:.3f})")
display(best_df[["meal_slot","title","kcal","protein_g"]])

===============  ROUND 1  ===============

R1-1  —  day_score 0.828  (macro 0.899 · taste 0.722)

   meal_slot                               title  kcal  protein_g
0  Breakfast  Greek Yogurt with Berries and Nuts   500         40
1      Lunch    Chicken Stir-fry with Brown Rice   800         60
2     Dinner    Chicken Tikka Masala with Quinoa  1000        106

R1-2  —  day_score 0.819  (macro 0.916 · taste 0.672)

,meal_slot,title,kcal,protein_g
0,Breakfast,Tofu Scramble with Veggies and Rice,600,30
1,Lunch,Chicken Tikka Masala with Brown Rice and Spinach,900,60
2,Dinner,Grilled Salmon with Quinoa and Roasted Vegetables,900,116

R1-3  —  day_score 0.829  (macro 0.899 · taste 0.723)

   meal_slot                                 title  kcal  protein_g
0  Breakfast    Greek Yogurt with Berries and Nuts   500         40
1      Lunch  Chicken Tikka Masala with Brown Rice   800         60
2     Dinner       Salmon with Broccoli and Quinoa  1000        120

R1-4  —  day_score 0.843  (macro 0.913 · taste 0.738)

   meal_slot                                         title  kcal  protein_g
0  Breakfast            Greek Yogurt with Berries and Nuts   500         40
1      Lunch          Chicken Tikka Masala with Brown Rice   900         50
2     Dinner  Salmon with Stir-fried Vegetables and Quinoa   984        106

🏆  BEST plan  (score 0.843)

   meal_slot                                         title  kcal  protein_g
0  Breakfast            Greek Yogurt with Berries and Nuts   500         40
1      Lunch          Chicken Tikka Masala with Brown Rice   900         50
2     Dinner  Salmon with Stir-fried Vegetables and Quinoa   984        106

In [29]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

# ---------- taste similarity (unchanged) ----------
def taste_similarity(title: str) -> float:
    vec = sbert.encode(title, normalize_embeddings=True)
    return cosine_similarity([vec], [hist_vec])[0, 0]     # 0‑1

# ---------- macro gain vs *target* ----------
def macro_gain_target(row, meals_per_day=4) -> float:
    ideal_P = nutrition_targets["protein_g"] / meals_per_day
    diff    = abs(row["protein_g"] - ideal_P)
    return 1 / (1 + diff)        # 1 when perfect, drops toward 0

# ---------- combined slot score ----------
def slot_score(row):
    return 0.6 * taste_similarity(row["title"]) + \
           0.4 * macro_gain_target(row)

In [30]:
from sklearn.metrics import mean_squared_error

def day_macro_score_target(day_df):
    tot   = day_df[["kcal","protein_g","carbs_g","fat_g"]].sum()
    plan  = tot.values
    targ  = np.array([nutrition_targets["optimal_calories"],
                      nutrition_targets["protein_g"],
                      nutrition_targets["carbs_g"],
                      nutrition_targets["fat_g"]])
    rmse  = np.sqrt(mean_squared_error(targ, plan))
    return max(0, 1 - rmse / targ[0])     # normalise by kcal target

def day_taste_score(day_df):
    titles   = " ".join(day_df["title"].tolist())
    plan_vec = sbert.encode(titles, normalize_embeddings=True)
    return cosine_similarity([plan_vec], [hist_vec])[0, 0]

def day_scores(plan_df):
    macro = day_macro_score_target(plan_df)
    taste = day_taste_score(plan_df)
    total = 0.6 * macro + 0.4 * taste
    return total, macro, taste

In [31]:
K, THRESHOLD = 4, 0.70
best_score, best_plan, best_df = -1, None, None

for attempt in range(2):                                # regen pass
    print(f"\n============== ROUND {attempt+1} ==============")
    for idx in range(1, K+1):
        label = f"R{attempt+1}-{idx}"
        plan  = build_one_plan(mutable_profile,
                               nutrition_targets,
                               history_summary,
                               temperature=0.45 + 0.05*attempt)

        # ---- per‑meal DataFrame & scores ----
        df = pd.DataFrame([{
            "meal_slot": m["label"],
            "title":     m["name"],
            "kcal":      m["macros"]["calories"],
            "protein_g": m["macros"]["protein_g"],
            "carbs_g":   m["macros"]["carbs_g"],
            "fat_g":     m["macros"]["fat_g"],
        } for m in plan["meals"]])

        # optional: slot‑level scores
        df["slot_score"] = df.apply(slot_score, axis=1)

        total, macro_d, taste_d = day_scores(df)

        print(f"\n{label}  —  day_score {total:.3f}  "
              f"(macro {macro_d:.3f} · taste {taste_d:.3f})")
        display(df[["meal_slot","title","kcal","protein_g","slot_score"]])

        if total > best_score:
            best_score, best_plan, best_df = total, plan, df

    if best_score >= THRESHOLD:
        break
    print(f"\n🔄  No plan ≥ {THRESHOLD:.2f}. Regenerating …")

print(f"\n🏆  BEST plan (score {best_score:.3f})")
display(best_df[["meal_slot","title","kcal","protein_g","slot_score"]])

============== ROUND 1 ==============

R1-1  —  day_score 0.834  (macro 0.898 · taste 0.738)

,meal_slot,title,kcal,protein_g,slot_score
0,Breakfast,Greek Yogurt with Berries and Nuts,500,40,0.373665
1,Lunch,Chicken Tikka Masala with Brown Rice,900,60,0.474964
2,Dinner,Salmon with Stir-fried Vegetables and Quinoa,900,80,0.378907

R1-2  —  day_score 0.797  (macro 0.880 · taste 0.673)

,meal_slot,title,kcal,protein_g,slot_score
0,Breakfast,Tofu Scramble with Veggies and Brown Rice,500,30,0.364877
1,Lunch,Chicken Tikka Masala with Brown Rice and Lentils,900,60,0.476494
2,Dinner,Grilled Salmon with Quinoa and Roasted Vegetables,800,50,0.326064

R1-3  —  day_score 0.838  (macro 0.913 · taste 0.725)

,meal_slot,title,kcal,protein_g,slot_score
0,Breakfast,Masala Dosa with Sambar and Coconut Chutney,600,20.00,0.284065
1,Lunch,Chicken and Vegetable Stir-fry with Brown Rice,800,50.00,0.405247
2,Dinner,Grilled Salmon with Quinoa and Roasted Vegetables,984,127.73,0.303434

R1-4  —  day_score 0.823  (macro 0.916 · taste 0.682)

,meal_slot,title,kcal,protein_g,slot_score
0,Breakfast,Chicken and Veggie Congee,600,40,0.386364
1,Lunch,Chicken Tikka Masala with Brown Rice,800,50,0.401958
2,Dinner,Grilled Salmon with Quinoa and Roasted Vegetables,1000,136,0.302755

🏆  BEST plan (score 0.838)

,meal_slot,title,kcal,protein_g,slot_score
0,Breakfast,Masala Dosa with Sambar and Coconut Chutney,600,20.00,0.284065
1,Lunch,Chicken and Vegetable Stir-fry with Brown Rice,800,50.00,0.405247
2,Dinner,Grilled Salmon with Quinoa and Roasted Vegetables,984,127.73,0.303434

In [32]:
voice_prompt = (
    "You are a friendly meal‑planning assistant. "
    "Present today's plan in short bullet points (kcal & protein each), "
    "then one sentence on how the totals align with the user's goals. "
    "Do NOT add extra critique.\n\n"
    "### PLAN_JSON\n" + json.dumps(best_plan, indent=2)
)

chat_reply = call_gemini(voice_prompt, temperature=0.55, max_tokens=240)
print("💬  Chat‑ready reply:\n")
print(chat_reply)

💬  Chat‑ready reply:

*   Breakfast: 600 kcal, 20g protein
*   Lunch: 800 kcal, 50g protein
*   Dinner: 984 kcal, 127.73g protein

The meal plan provides a total of 2384 kcal and 197.73g of protein, aligning perfectly with your muscle gain targets.

In [52]:
# ── 1️⃣  INITIAL WEIGHTS  (could be loaded from DB) ──────────────
alpha_taste  = 0.1      # 0‑1   higher → LLM emphasises flavour
beta_macro   = 0.60      # 0‑1   higher → critic emphasises macro
beta_taste   = 1 - beta_macro

print(f"α_taste={alpha_taste:.2f}  β_macro={beta_macro:.2f}  β_taste={beta_taste:.2f}")

# ── 1️⃣‑b OPTIONAL: tiny feedback function (call later) ──────────
def update_weights(user_feedback: str, weekly_rmse: float):
    global alpha_taste, beta_macro, beta_taste
    if user_feedback == "bland":
        alpha_taste = min(alpha_taste + 0.05, 0.8)
    if weekly_rmse > 0.15:
        beta_macro = min(beta_macro + 0.05, 0.8)
    beta_taste = 1 - beta_macro

α_taste=0.10  β_macro=0.60  β_taste=0.40

In [53]:
def build_one_plan(profile, targets, history,
                   temperature=0.45, alpha_taste=0.5):
    """
    Returns: dict {"intent":..., "meals":[...]}
    α_taste vs α_macro (1‑α) tells Gemini what to prioritise.
    """
    PLAN_SCHEMA = {
      "intent": PLANNER_SCHEMA,
      "meals": [
         {"label":"string","name":"string",
          "macros":{"calories":"integer","protein_g":"number",
                    "carbs_g":"number","fat_g":"number"}}
      ]
    }

    system_text = (
        f"Weight flavour familiarity {alpha_taste:.2f} and macro alignment "
        f"{1-alpha_taste:.2f} when making trade‑offs.\n"
    )

    payload = {"profile": profile,
               "targets": targets,
               "history": history}

    return gemini_json(PLAN_SCHEMA, payload,
                       temperature=temperature,
                       max_tokens=800,
                       system_override=system_text)

In [54]:
from sklearn.metrics import mean_squared_error, pairwise

def macro_score_target(df):
    tot = df[["kcal","protein_g","carbs_g","fat_g"]].sum().values
    targ = np.array([nutrition_targets["optimal_calories"],
                     nutrition_targets["protein_g"],
                     nutrition_targets["carbs_g"],
                     nutrition_targets["fat_g"]])
    rmse = np.sqrt(mean_squared_error(targ, tot))
    return max(0, 1 - rmse / targ[0])

def taste_score(df):
    titles = " ".join(df["title"].tolist())
    vec    = sbert.encode(titles, normalize_embeddings=True)
    return pairwise.cosine_similarity([vec], [hist_vec])[0,0]

def critic_day_score(df):
    macro = macro_score_target(df)
    taste = taste_score(df)
    return beta_macro*macro + beta_taste*taste, macro, taste

In [55]:
K, THRESHOLD = 4, 0.70
best_score, best_plan, best_df = -1, None, None

for attempt in range(2):                              # regen pass
    print(f"\n============== ROUND {attempt+1} ==============")
    for k in range(1, K+1):
        label  = f"R{attempt+1}-{k}"
        plan   = build_one_plan(mutable_profile, nutrition_targets,
                                history_summary,
                                temperature=0.45 + 0.05*attempt,
                                alpha_taste=alpha_taste)

        df = pd.DataFrame([{
            "meal_slot": m["label"],
            "title":     m["name"],
            "kcal":      m["macros"]["calories"],
            "protein_g": m["macros"]["protein_g"],
            "carbs_g":   m["macros"]["carbs_g"],
            "fat_g":     m["macros"]["fat_g"],
        } for m in plan["meals"]])

        total, macro_d, taste_d = critic_day_score(df)

        print(f"\n{label} — score {total:.3f} (macro {macro_d:.3f} · taste {taste_d:.3f})")
        display(df[["meal_slot","title","kcal","protein_g"]])

        if total > best_score:
            best_score, best_plan, best_df = total, plan, df

    if best_score >= THRESHOLD:
        break
    print(f"🔄  No plan ≥ {THRESHOLD:.2f}. Regenerating …")

print(f"\n🏆 BEST plan (score {best_score:.3f})")
display(best_df[["meal_slot","title","kcal","protein_g"]])

============== ROUND 1 ==============

R1-1 — score 0.849 (macro 0.982 · taste 0.649)

,meal_slot,title,kcal,protein_g
0,Breakfast,Tofu Scramble with Veggies and Rice,600,30
1,Lunch,Chicken Tikka Masala with Brown Rice,900,60
2,Dinner,Grilled Salmon with Quinoa and Roasted Vegetables,1300,136

R1-2 — score 0.849 (macro 0.983 · taste 0.649)

,meal_slot,title,kcal,protein_g
0,Breakfast,Tofu Scramble with Veggies and Rice,600,30
1,Lunch,Chicken Tikka Masala with Brown Rice,900,60
2,Dinner,Grilled Salmon with Quinoa and Roasted Vegetables,1300,136

R1-3 — score 0.821 (macro 0.916 · taste 0.677)

   meal_slot                                           title  kcal  protein_g
0  Breakfast      Asian-inspired Oatmeal with Protein Powder   600         45
1      Lunch            Chicken Tikka Masala with Brown Rice   900         60
2     Dinner  Greek Salad with Grilled Salmon and Pita Bread   900        101

R1-4 — score 0.854 (macro 0.986 · taste 0.657)

   meal_slot                                  title  kcal  protein_g
0  Breakfast                Chicken and Rice Congee   700         40
1      Lunch         Chicken Tikka Masala with Rice   900         50
2     Dinner  Chicken Shawarma with Hummus and Pita  1200        136

🏆 BEST plan (score 0.854)

   meal_slot                                  title  kcal  protein_g
0  Breakfast                Chicken and Rice Congee   700         40
1      Lunch         Chicken Tikka Masala with Rice   900         50
2     Dinner  Chicken Shawarma with Hummus and Pita  1200        136

In [39]:
# ---- narrate winner ----
voice_prompt = (
    "Bullet‑point today's plan with kcal & protein per meal, "
    "then one line on how it meets targets.\n\n"
    "### JSON\n" + json.dumps(best_plan, indent=2)
)
print(call_gemini(voice_prompt, temperature=0.55, max_tokens=240))

# ---- simulate feedback + weekly macro RMSE ----
user_feedback = "bland"          # pretend the user clicked "Needs variety"
weekly_rmse   = 0.10             # pretend macros still good

update_weights(user_feedback, weekly_rmse)
print(f"\n🎛️ Updated weights → α_taste={alpha_taste:.2f}  "
      f"β_macro={beta_macro:.2f}  β_taste={beta_taste:.2f}")

Here's your meal plan for today, broken down by meal:

*   **Breakfast: Tofu Scramble with Veggies and Rice** - 600 kcal, 30g protein: Provides a solid protein start to the day.
*   **Lunch: Chicken Tikka Masala with Brown Rice** - 900 kcal, 60g protein: Contributes a significant amount of protein and calories for muscle gain.
*   **Dinner: Grilled Salmon with Quinoa and Roasted Vegetables** - 1384 kcal, 136g protein: This meal is high in protein and calories, helping to meet the daily target.


🎛️ Updated weights → α_taste=0.55  β_macro=0.60  β_taste=0.40